@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e2124;
}

::-webkit-scrollbar-thumb {
  background: #4a4d50;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5d60;
}
